li {
  list-style: none;
  white-space: nowrap
}

td {
  vertical-align: top;
}

.node {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  overflow: visible;
}

.label {
  position: absolute;
  top: 0px;
  left: 0px;
}

.node::before {
  overflow: visible;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.focus.node::before {
  border: 1px solid #008000;
  box-shadow:
    0px 0px 10px #008000;
}

.title {
  margin-right: 1em;
  margin-bottom: 4px;
  padding-bottom: 4px;
  display: inline-block;
  border-bottom: 1px solid rgb(155, 155, 155);
}

.group {
  margin-top: 8px;
}

.tools {
  margin: 6px 0px;
}

.focus.tool {
  box-shadow:
    0px 0px 10px #008000;
}

.tool {
  margin-right: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0px 0.5em;
  box-sizing: border-box;
}

.app {
  padding: 1em;
  display: flex;
  flex-direction: row;
}

.editor {
  width: 24em;
}

.viewer {
  display: flex;
  position: relative;
  box-sizing: border-box;
}