li {
  list-style: none;
}

td {
  vertical-align: top;
}

.node {
  box-shadow: 0 0 0 1px #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.label {
  position: absolute;
  top: 0px;
  left: 0px;
}

.focus {
  border: 0px;
  box-shadow:
    0 0 0 1px #000,
    0px 0px 10px #008000;
}

.title {
  margin-bottom: 4px;
  padding-bottom: 4px;
  display: inline-block;
  border-bottom: 1px solid rgb(155, 155, 155);
}

.group {
  margin-top: 8px;
}

.tools {
  margin: 6px 0px;
  /* display: inline-block; */
}

.tool {
  margin-right: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 2px;
  box-sizing: border-box;
}

.editor {
  max-width: 24em;
}

.viewer {
  position: absolute;
  left: 28em;
  top: 1em;
}